@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@600&display=swap");
html,
body,
figure,
img,
div,
section,
article,
input,
button,
span,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
ol,
footer,
aside,
form,
header,
label,
select,
option,
template {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

:root {
  --color-primary: #002efd;
  --color-secondary: #49d0b0;
  --color-secondary-50: #63e0c9;
  --color-Grey-100: #333333;
  --color-Grey-50: #999999;
  --color-Grey-20: #e0e0e0;
  --color-Grey-0: #ffffff;
  --color-Yellow: rgb(255, 211, 17);


  --heading-1: 18px;
  --heading-2: 12px;
  
  
}
